In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import hypertools as hyp
import seaborn as sns
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

%matplotlib inline

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'

In [ ]:
#load in the data

fname1 = 'Uber-Jan-Feb-FOIL.csv'
columns1 = ('dispatching_base_number', 'date', 'active_vehicles', 'trips')
FOIL_df = pd.read_csv(fname1, skiprows=[0], names=columns1)

In [ ]:
fname2 = 'Aggregate FHV Data.xlsx'


sheet1 = 'Trips Per Day'
sheet2 = 'Trips Per Hour and Weekday'
sheet3 = 'Change in Trips Sep 2013-2014'
sheet4 = 'Change in Daily Trips by Hour'

FHV_col1 = ('Date', 'American', 'Carmel', 'Dial 7', 'Diplo', 'Firstclass', 'Highclass', 
            'Prestige', 'Skyline', 'Lyft', 'Uber', 'Yellow Taxis', 'Green Taxis')
FHV_col3 = ('Location', 'Uber and Lyft Trips Per Day 2014', 
            'Yellow Taxi Trips Per Day 2014', 'Yellow Taxi Trips Per Day 2013')
FHV_col4 = ('Hour', 'Uber and Lyft Trips in MN Core (Sep 2014)', 
           'Change in Daily Yellow Trips in MN Core (Sep 2014 compared with Sep 2013')

## data key: MN, JFK, LGA
FHV_df1 = pd.read_excel(fname2, sheetname = sheet1, skiprows=[0], names = FHV_col1)
FHV_df3 = pd.read_excel(fname2, sheetname = sheet3, skiprows=[0], names = FHV_col3)
FHV_df4 = pd.read_excel(fname2, sheetname = sheet4, skiprows=[0], names = FHV_col4)

In [ ]:
FHV_df1

In [ ]:
map = Basemap(projection='ortho',lat_0=45,lon_0=-100,resolution='l')
map.drawcoastlines(linewidth=0.25)
map.drawcountries(linewidth=0.25)
map.fillcontinents(color='coral',lake_color='aqua')
# draw the edge of the map projection region (the projection limb)
map.drawmapboundary(fill_color='aqua')
# draw lat/lon grid lines every 30 degrees.
map.drawmeridians(np.arange(0,360,30))
map.drawparallels(np.arange(-90,90,30))
# make up some data on a regular lat/lon grid.
nlats = 73; nlons = 145; delta = 2.*np.pi/(nlons-1)
lats = (0.5*np.pi-delta*np.indices((nlats,nlons))[0,:,:])
lons = (delta*np.indices((nlats,nlons))[1,:,:])
wave = 0.75*(np.sin(2.*lats)**8*np.cos(4.*lons))
mean = 0.5*np.cos(2.*lats)*((np.sin(2.*lats))**2 + 2.)
# compute native map projection coordinates of lat/lon grid.
x, y = map(lons*180./np.pi, lats*180./np.pi)
# contour data over the map.
cs = map.contour(x,y,wave+mean,15,linewidths=1.5)
plt.title('contour lines over filled continent background')
plt.show()

In [2]:
fname3 = 'uber-trip-data/uber-raw-data-apr14.csv'
columns3 = ('Time', 'Lat', 'Lon', 'Base')
april_df = pd.read_csv(fname3, skiprows=[0], names=columns3)

In [3]:
april_df

                 Time      Lat      Lon    Base
0         4/1/14 0:11  40.7690 -73.9549  B02512
1         4/1/14 0:17  40.7267 -74.0345  B02512
2         4/1/14 0:21  40.7316 -73.9873  B02512
3         4/1/14 0:28  40.7588 -73.9776  B02512
4         4/1/14 0:33  40.7594 -73.9722  B02512
5         4/1/14 0:33  40.7383 -74.0403  B02512
6         4/1/14 0:39  40.7223 -73.9887  B02512
7         4/1/14 0:45  40.7620 -73.9790  B02512
8         4/1/14 0:55  40.7524 -73.9960  B02512
9         4/1/14 1:01  40.7575 -73.9846  B02512
10        4/1/14 1:19  40.7256 -73.9869  B02512
11        4/1/14 1:48  40.7591 -73.9684  B02512
12        4/1/14 1:49  40.7271 -73.9803  B02512
13        4/1/14 2:11  40.6463 -73.7896  B02512
14        4/1/14 2:25  40.7564 -73.9167  B02512
15        4/1/14 2:31  40.7666 -73.9531  B02512
16        4/1/14 2:43  40.7580 -73.9761  B02512
17        4/1/14 3:22  40.7238 -73.9821  B02512
18        4/1/14 3:35  40.7531 -74.0039  B02512
19        4/1/14 3:35  40.7389 -74.0393  B02512
20        4/1/14 3:41  40.7619 -73.9715  B02512
21        4/1/14 4:11  40.7530 -74.0042  B02512
22        4/1/14 4:15  40.6561 -73.9531  B02512
23        4/1/14 4:19  40.7250 -73.9844  B02512
24        4/1/14 4:20  40.6950 -74.1783  B02512
25        4/1/14 4:26  40.9859 -74.1578  B02512
26        4/1/14 4:27  40.6879 -74.1814  B02512
27        4/1/14 4:38  40.6878 -74.1816  B02512
28        4/1/14 4:47  40.7234 -73.9974  B02512
29        4/1/14 4:49  40.7336 -73.9900  B02512
...               ...      ...      ...     ...
564486  4/30/14 22:25  40.7342 -74.0101  B02764
564487  4/30/14 22:25  40.7412 -73.9792  B02764
564488  4/30/14 22:25  40.7633 -73.9867  B02764
564489  4/30/14 22:26  40.7549 -73.9845  B02764
564490  4/30/14 22:27  40.7210 -73.9850  B02764
564491  4/30/14 22:27  40.7025 -74.0127  B02764
564492  4/30/14 22:28  40.7568 -73.9848  B02764
564493  4/30/14 22:29  40.7446 -73.9837  B02764
564494  4/30/14 22:32  40.7013 -73.9367  B02764
564495  4/30/14 22:35  40.7213 -73.9948  B02764
564496  4/30/14 22:36  40.7587 -73.9723  B02764
564497  4/30/14 22:42  40.7325 -73.9969  B02764
564498  4/30/14 22:46  40.8152 -73.9433  B02764
564499  4/30/14 22:47  40.7643 -73.9868  B02764
564500  4/30/14 22:50  40.7650 -73.9773  B02764
564501  4/30/14 22:51  40.7436 -73.9848  B02764
564502  4/30/14 22:56  40.7313 -73.9940  B02764
564503  4/30/14 22:57  40.8007 -73.9565  B02764
564504  4/30/14 22:58  40.7603 -73.9870  B02764
564505  4/30/14 22:58  40.7419 -73.9866  B02764
564506  4/30/14 23:00  40.7316 -73.9891  B02764
564507  4/30/14 23:04  40.7267 -73.9937  B02764
564508  4/30/14 23:05  40.7788 -73.9600  B02764
564509  4/30/14 23:15  40.7420 -74.0037  B02764
564510  4/30/14 23:18  40.7514 -74.0066  B02764
564511  4/30/14 23:22  40.7640 -73.9744  B02764
564512  4/30/14 23:26  40.7629 -73.9672  B02764
564513  4/30/14 23:31  40.7443 -73.9889  B02764
564514  4/30/14 23:32  40.6756 -73.9405  B02764
564515  4/30/14 23:48  40.6880 -73.9608  B02764

[564516 rows x 4 columns]

In [5]:
april_df.Time
print april_df.Time.




# for each time hour, make new hyp.plot
# for i in

0           4/1/14 0:11
1           4/1/14 0:17
2           4/1/14 0:21
3           4/1/14 0:28
4           4/1/14 0:33
5           4/1/14 0:33
6           4/1/14 0:39
7           4/1/14 0:45
8           4/1/14 0:55
9           4/1/14 1:01
10          4/1/14 1:19
11          4/1/14 1:48
12          4/1/14 1:49
13          4/1/14 2:11
14          4/1/14 2:25
15          4/1/14 2:31
16          4/1/14 2:43
17          4/1/14 3:22
18          4/1/14 3:35
19          4/1/14 3:35
20          4/1/14 3:41
21          4/1/14 4:11
22          4/1/14 4:15
23          4/1/14 4:19
24          4/1/14 4:20
25          4/1/14 4:26
26          4/1/14 4:27
27          4/1/14 4:38
28          4/1/14 4:47
29          4/1/14 4:49
              ...
564486    4/30/14 22:25
564487    4/30/14 22:25
564488    4/30/14 22:25
564489    4/30/14 22:26
564490    4/30/14 22:27
564491    4/30/14 22:27
564492    4/30/14 22:28
564493    4/30/14 22:29
564494    4/30/14 22:32
564495    4/30/14 22:35
564496    4/30/14 22:36
564497    4/30/14 22:42
564498    4/30/14 22:46
564499    4/30/14 22:47
564500    4/30/14 22:50
564501    4/30/14 22:51
564502    4/30/14 22:56
564503    4/30/14 22:57
564504    4/30/14 22:58
564505    4/30/14 22:58
564506    4/30/14 23:00
564507    4/30/14 23:04
564508    4/30/14 23:05
564509    4/30/14 23:15
564510    4/30/14 23:18
564511    4/30/14 23:22
564512    4/30/14 23:26
564513    4/30/14 23:31
564514    4/30/14 23:32
564515    4/30/14 23:48
Name: Time, Length: 564516, dtype: object